{% extends "base.html" %}

{% block content %}

<!-- Cocktail submission page (from 'Submit a cocktail' link) -->
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 my-3 py-2 text-container">

            <h2>Submit cocktail</h2>

            <form method="post">

                {% csrf_token %}

                {{ form.as_p }}

                <button class="btn btn-dark" type="submit">Submit cocktail</button>

            </form>

        </div>
    </div>
</div>


{% endblock %}