{% extends "base.html" %}

{% block content %}

{% if user == cocktail.author %}

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 my-4 py-3 blurb-container center-txt">
            <h2 class="center-txt">Are you sure you want to delete {{ cocktail.title }}?</h2>

            <div class="center-txt">
                <form action="" method="post" class="my-2">
                    {% csrf_token %}
                    <input type="submit" value="Confirm" class="btn btn-warning me-2 delete-btn"
                        role="button"></input>
                </form>
                <div class="inline-input"><a href="{% url 'post_detail' slug=cocktail.slug %}" type="button" class="btn btn-light me-2"
                    role="button">Go back</a></div>
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 my-3 py-2 blurb-container">
            <h2>Sorry, this is not your cocktail to delete</h2>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}