{% extends "base.html" %}

{% block content %}

{% if user == cocktail.author %}

<h2>Are you sure you want to delete {{ cocktail.title }}?</h2>

<div>
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Confirm" class="btn btn-light text-dark me-2 delete-btn"
            role="button"></input>
        </form>
    <a href="{% url 'post_detail' slug=cocktail.slug %}" type="button" class="btn btn-light text-dark me-2"
        role="button">Go back</a>
</div>

{% else %}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-3">
            <h2>Sorry, this is not your cocktail to delete</h2>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}