{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">

        <!-- Recipe Entries Column -->
        <div class="col-10 mt-3 left">
            <div class="row justify-content-center mx-3">
                {% for post in post_list %}
                <div class="col-sm-10 col-md-5 col-lg-4 col-xl-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <!-- need to sort out where my images are going exactly -->
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                {% else %}                              
                                <img class="card-img-top" src=" {{ post.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <!-- Changed from excerpt -->
                                <p class="card-text">{{ post.description }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}} <i class="fa-solid fa-whiskey-glass"></i>
                                {{ post.number_of_favourites }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div> 
</div>

{% endblock %}