{% extends 'base.html' %} {% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.xYgnlEJ1sM5_6qk9QQMw8gHaE8%26pid%3DApi&f=1&ipt=ded1d03eefc8ac98fcb51a6f8f85b89c23017ef3de360f619d2a724d92f12818&ipo=images"
                    width="100%">
                {% else %}
                <img src="{{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">
                    {{ post.description | safe }}
                </p>
                <ul class="card-text">{% for ingredient in ingredients %}
                    <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
                <ol class="card-text">{% for instruction in instructions %}
                    <li>{{ instruction }}</li>
                    {% endfor %}
                </ol>
                <div class="row">

                    <div class="col-2">
                        <p class="card-text text-muted h6">{{ post.created_on}}
                            <a href="{% url 'addfavourites' post_id=post.id %}" class="fa-solid fa-whiskey-glass"></a>
                            {{ post.number_of_favourites }}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% if user == post.author %}
    <div id="update"><a href="{% url 'account_login' %}" type="button" class="btn btn-light text-dark me-2"
            role="button">Propose update</a>
        <a href="{% url 'delete' slug=post.slug %}" type="button" class="btn btn-light text-dark me-2" role="button">Delete
            cocktail</a>
    </div>
    {% endif %}
    <!-- ?? -->
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>

    {% endblock content %}