{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-3">
            <h1>Hello {{ user.get_username }} </h1>
        </div>
    </div>
</div>
<div class="container col-10 mt-3 left">
    <div class="row justify-content-center mx-3">
        {% for post in favourites %}

        <div class="col-sm-10 col-md-5 col-lg-4 col-xl-3">
            {% if "whiskey" in post.ingredients %}
            <div class="card mb-4 whiskey-card">
            {% else %}
            <div class="card mb-4 whisky-card">
            {% endif %}
                <div class="card-body">
                    <div class="image-container">
                        <!-- need to sort out where my images are going exactly -->
                        {% if "placeholder" in post.featured_image.url %}
                        <img class="card-img-top"
                            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.xYgnlEJ1sM5_6qk9QQMw8gHaE8%26pid%3DApi&f=1&ipt=ded1d03eefc8ac98fcb51a6f8f85b89c23017ef3de360f619d2a724d92f12818&ipo=images">
                        {% else %}
                        <img class="card-img-top" src=" {{ post.featured_image.url }}">
                        {% endif %}
                        <div class="image-flash">
                            <p class="author">Author: {{ post.author }}</p>
                        </div>
                    </div>
                    <a href="{% url 'post_detail' post.slug %}" class="post-link">
                        <h2 class="card-title clink">{{ post.title }}</h2>
                        <p class="card-text ctext">{{ post.description | safe }}</p>
                    </a>
                    <hr />
                    <p class="card-text text-muted h6">{{ post.created_on}} 
                        <a href="{% url 'addfavourites' post_id=post.id %}" class="fa-solid fa-whiskey-glass"></a>
                        {{ post.number_of_favourites }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}


{% endblock %}